[receptor]
node_id={{ receptor_uuid }}

[plugin_receptor_satellite]
username={{ satellite_user }}
password={{ satellite_password }}
url={{ satellite_url }}
ca_file={{ satellite_ca_file }}

[auth]
ssl_cert={{ receptor_config_dir }}/rh_{{ sat_account_id }}/cert.pem
ssl_key={{ receptor_config_dir }}/rh_{{ sat_account_id }}/key.pem

[peers]
wss://{{ c_rh_c_host }}/wss/receptor-controller/gateway
